.home {
    .home-profile {
        .home-avatar {
            img {
                width: 12rem;
            }
        }
        .home-title {
            font-size: 1.5rem;
            padding: 1rem;
            line-height: 1.25rem;
        }
    }
}
